*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;

}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-100 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-column-100 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-column {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.custom-font{
    font-family: 'playfair display', serif;
}

header {
     width: 100%;
    height: 120vh;
    display: flex;
    background: url(banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 60px;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.banner-heading{
    color: white;
    font-style: italic;
    font-size: 6rem;
    font-family: 'playfair display', serif;
    padding: 0 2rem;
}
.banner-text{
    background-color: white;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 30px;
    width: 80%;
}
/*.box2, .gallery2{
    background-color: #e09f9f;
    color: white;
}*/

 .annon-section{
     display: flex;
     justify-content: center;
     padding: 100px 0;
     background-color: #d9b1b3;
     color: white;
 }

 .annon{
    font-size: 1.6rem;
    font-style: italic;
     margin-bottom: 15px;
 }

 .annon span{
     font-size: 6rem;
     line-height: 0;
 }

  .annon-section p{
      font-size: 0.8rem;
      width: 50%;
 }

 .gallery .img-container {
    height: 450px;
    display: flex; 
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .gallery .gallery-img-1{
    background-image: url(gallery-1.jpeg);
 }


 .gallery .gallery-img-2{
    background-image: url(gallery-2.jpeg);
}
 
 .gallery .gallery-img-3{
    background-image: url(gallery-3.jpeg);
}
 
.gallery .gallery-img-4{
    background-image: url(gallery-4.jpeg);
}

.gallery .gallery-img-5{
    background-image: url(gallery-5.jpeg);
}

.gallery .gallery-img-6{
    background-image: url(gallery-6.jpeg);
}

 .gallery .gallery-img {
    width: 100%;

 }

 .coming-soon{
     background-color: #d9b1b3;
     color: white;
     padding: 50px 0;
 }

.coming-soon .row-column-100 {
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
    text-align: center;
}

.coming-soon .coming-soon-heading {
    font-size: 4rem;
    font-style: italic;
}

.coming-soon .coming-soon-text{
    font-size: 1.3rem;
}

.coming-soon .coming-soon-form {
    margin-top: 35px;
}

.coming-soon-form .row-100 {
    justify-content: center;
}

.coming-soon-form .input-container {
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.input-container .text-input,
.input-container .form-btn {
    padding: 12px 10px;
    border: unset;
    border-radius: 20px;
}

.input-container .form-btn {
    background-color: black;
    color: white;
}

.article {
    background-color: white;
    padding: 3rem;
    
}

.article-img-container,.article-text-container {
    height: 35rem;
    display: flex;
    align-items: center;
}

.article-img-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 35%;
}

.article-img-container .article-img {
    width: 100%;
}

.article-text-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 55%;
    padding: 1.3rem;
}

.article-text-container .article-text {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2rem;
}

.slide {
    padding: 3.5rem;
    background-color: #d9b1b3;
    color: white;
}

.slide .row-100 {
    justify-content: center;
}

.slide-heading {
    font-size: 3.5rem;
    font-style: italic;
    text-align: center;
}